/* START GLOBAL RULES */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
 /*    background-image: linear-gradient(180deg,#9F4CC5,#4E4FC7);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    font-family: 'Open Sans', sans-serif;
    padding:0;
    margin:0;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

/* MEDIA QUERY */
/* SMALL */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* MEDIUM */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* LARGE */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* END GLOBAL RULES */

/* START NEWS SECTION */
.news {
    background-image: linear-gradient(180deg,#9F4CC5,#4E4FC7);
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

/* /* NAV SECTION 
.news nav {
    height: 60px;
    width: 100%;
    background-color: #00020d48;
    display: none; 
    justify-content: space-around;
    align-items: center;
} 

.news nav ul {
    list-style-type: none;
    display: flex;  
}

.news nav ul li {
    margin: 0 10px;
    padding: 5px;
}

.news nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
}

.news nav ul li:hover {
    font-weight: bold;
}

.news nav button {
    background-color: #7449D2;
    height: 40px;
    width: 140px;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    align-self: center;
}

.news nav button:hover {
    background-color: #5933aa;
    font-size: 14px;
    cursor:pointer;
}
/* END NAV SECTION */ 

.news .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 30px;
}

.news .container .article {
    background-color:#ffffff;
    color: #000000;
    font-size: 14px;
    border-radius: 10%;
    text-decoration: none;
}

.news .container .article:hover {
    background-color: #ffffffcd;
}

.news .container .article img {
    width: 100%;
    transition: .5;
}

.news .container .article:hover img {
    transform: scale(1.005);
}

.news .container .article .paragraph {
    padding: 3%;
}

.news .container .article .paragraph h3 {
    font-weight: 700;
}

.news .container .article .paragraph p {
    font-weight: 400;
}

.news .container .article .paragraph .details {
    color:#9B9999;
    font-size: 14px;
    margin: auto 2%;
    display: flex;
    justify-content: space-between;
}

.news .btn-learn-more {
    background-color: #000000;
    color:#ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
    margin: 30px auto;
    border: none;
    border-radius: 14px;
}

.news .btn-learn-more:hover {
    background-color: #ffffff;
    color:#000000;
    cursor:pointer;
}
