/* START GLOBAL RULES */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding:0;
    margin:0;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

/* MEDIA QUERY */
/* SMALL */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* MEDIUM */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* LARGE */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* END GLOBAL RULES */

/* START FOLLOW US SECTION */

 .followUs {
    background-color: #692E81;
    padding: 30px 0px 60px ;
    
 }

 .followUs .content h2{
    margin:0;
    text-align:center;
    color:#FFFFFF;
    font-size:35px;
    font-weight: 700;
 }

 .followUs .content p{
    color:#D7D7D7;
    font-size: 14px;
    text-align:center;
    width:60%;
    margin:0 auto;
    padding:30px 0px;
 }

 .followUs .social-media{
    width:60%;
    margin: 0px auto;
 }

 .followUs .social-media ul{
    list-style-type: none;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    margin:0;
    padding:0;
 }

 .followUs .social-media ul li{
    background-color: #FFFFFF;
    padding:25px;
    border-radius: 50%;
    font-size:30px;
 }

 .followUs .social-media ul li:nth-child(1){
    color: #FF0000;
 }

 .followUs .social-media ul li:nth-child(2){
    color: #0072B1;
}

.followUs .social-media ul li:nth-child(3){
    color: #00ACEE;
}

.followUs .social-media ul li:nth-child(4){
    color: #4267B2;
}

.followUs .social-media ul li:nth-child(5){
    color: #1DB954;
}


@media (max-width: 768px) {
    .followUs .content p{
        width:80%;
    }

    .followUs .social-media{
        width:100%;
    }

    .followUs .social-media ul li{
        background-color: #FFFFFF;
        padding:15px;
        margin:5px;
        border-radius: 50%;
        font-size:30px;
     }
}
/* START FOLLOW US SECTION */

/* START FOOTER SECTION */

footer {
    background-color: #000000;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

footer p{
    color:#FFFFFF;
    margin:0; 
    padding: 20px;
    font-size:14px;
    text-align: center;
}


@media (max-width: 768px) {
    footer p{
        margin: 0 auto;
    }
    
    footer p:last-child {
        padding-top:0;
        padding-bottom:30px;
    }

}





/* END FOOTER SECTION */