<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="content.css">
    <!-- TITLE -->
    <title>Content</title>
</head>
<body>
    <div class="content">
        <div class="container">
            <!--PART1 : EPISODES-->
            <div class="content-box">
                <img class="image" src="../../Assets/Images/Episodes.svg" alt="Not Found"/>
                <div class="text">
                    <h2 class="title">Episodes</h2>
                    <p class="paragraphe">
                        In Moroccan Success Story episodes, we invite a
                        Moroccan icon in the IT and related fields, to share
                        their experiences, lessons learned and knowledge 
                        with the Moroccan community.
                    </p>
                </div>
            </div>

            <!--PART2 : News -->
            <div class="content-box">
                <div class="text">
                    <h2 class="title">News</h2>
                    <p class="paragraphe">
                        In Moroccan Success Story episodes, we invite a
                        Moroccan icon in the IT and related fields, to share
                        their experiences, lessons learned and knowledge 
                        with the Moroccan community.
                    </p>
                </div>
                <img class="image" src="../../Assets/Images/News.svg" alt="Not Found"/>
            </div>
            
            <!--PART3 : Problem Solving -->
            <div class="content-box">
                <img class="image" src="../../Assets/Images/problem_solving.svg" alt="Not Found"/>
                <div class="text">
                    <h2 class="title">Problem Solving</h2>
                    <p class="paragraphe">
                        In Moroccan Success Story episodes, we invite a
                        Moroccan icon in the IT and related fields, to share
                        their experiences, lessons learned and knowledge 
                        with the Moroccan community.
                    </p>
                </div>
            </div>
        
        
            <!--PART4 : Jobs Offers -->
            <div class="content-box">
                <div class="text">
                    <h2 class="title">Jobs Offers</h2>
                    <p class="paragraphe">
                        In Moroccan Success Story episodes, we invite a
                        Moroccan icon in the IT and related fields, to share
                        their experiences, lessons learned and knowledge 
                        with the Moroccan community.
                    </p>
                </div>
                <img class="image" src="../../Assets/Images/jobs_offers.svg" alt="Not Found"/>
            </div>
        </div>
    </div>
</body>
</html>